</head>
<body>
  <div class="bg-wrapper">
    <nav>
      <a 
        href="/" 
        class="nav-logo" 
      >
        Mongoose Flights
      </a>
      <div class="nav-right">
        <a 
          href="/flights/" 
          class="nav-links"
          <%- title === 'All Flights' ? 'id="active"' : '' %> 
        >
          All Flights
        </a>
        <a 
          href="/flights/new" 
          class="nav-links"
          <%- title === 'Add Flights' ? 'id="active"' : '' %> 
        >
          Add Flights
        </a>
      </div>
    </nav>

