<%- include("./partials/html-head") %> 
<%- include("./partials/nav") %>
  <main>
    <div class="hero-text">
      Travel to:<br>Placeholder.
    </div>
  </main>
<%- include("./partials/footer") %> 
