html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url('../assets/bg-img.jpg');
  background-size: cover;
}

.bg-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.11);
  z-index: 1;
}

/* Nav */
nav {
  height: 10%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-inline: .5em;
  z-index: 2;
}

nav > .nav-logo {
  font-size: 1.9em;
  color: white;
  text-decoration: none;
}

nav > .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

nav > .nav-right > .nav-links {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}

/* Main */
main {
  height: 80%;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding-inline: .5em;
  color: white;
}

main > .hero-text {
  font-size: 3em;
}

.hero-form {

}

.hero-form > form {
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  font-size: 1.3em;
}

.new-form {
  background: rgba(126, 124, 124, 0.548);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 2em;
  width: 30vw;
}

table {
  background: rgba(126, 124, 124, 0.548);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 2em;
  width: 55vw;
  text-align: center;
}

td {
  padding-inline: 10px;
}

input {
  background-color: rgba(255, 255, 255, 0.685);
  border: 1px solid white;
  width: 100%;
}

select {
  background-color: rgba(255, 255, 255, 0.685);
  border: 1px solid white;
  width: 100%;
  color: black;
}

.hero-form > form > label {
  align-self: flex-start;
}

a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

