html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: url('../assets/bg-img.jpg');
  background-size: cover;
}