<%- include("./partials/html-head") %> 
<%- include("./partials/nav") %>
  <main>
    <div class="hero-text">
      Travel to:<br>Placeholder.
    </div>
    <div class="hero-display">
      <div class="flight-container">
        <table>
          <thead>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departure Date</th>
          </thead>
          <tbody>
            <tr>
              <td>Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
              <td>Placeholder</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
<%- include("./partials/footer") %> 
