<%- include("../partials/html-head") %> 
<%- include("../partials/nav") %>
  <main>
    <div class="hero-text">
      Add Flight:
    </div>
    <div class="hero-form">
      <form>
        <label for="arline-input">Airline:</label>
        <input type="text" name="airline">

        <label for="airport-input">Airport:</label>
        <input type="text" name="airport">
        
        <label for="flightNo-input">Flight Number:</label>
        <input type="text" name="flightNo">
        
        <label for="depart-input">Departure Date:</label>
        <input type="text" name="depart">
      </form>
    </div>
  </main>
<%- include("../partials/footer") %> 
